/* --- Typography for the webpage --- */
html {
    font-size: 100%;
    line-height: var(--base-line-height);
}

p {
   font-size: var(--base-font-size);
   margin-bottom: var(--magic-number);
   line-height: var(--base-line-height);
   max-width: 64rem;
}

h1 {
    margin-bottom: var(--magic-number);
}